** Width between 1200px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 1200px) {

}

/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */
 @media screen and (max-width: 800px) {
   .column {
     width: 100%;
  }
   .picture img {
     width: 100%;
     display: inline-block;
   }
    }
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
/*  .column img {
    max-width: 100%;
    float: none;
    margin-left: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }*/
  .picture img {
    width: 100%;
    display: inline-block;
  }
}
@media (max-width: 480px) {
  .column {
    width: 100%;
  }
  .picture img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .column {
    width: 100%;
  }
  .picture img {
    width: 100%;
  }
}*/